/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 9, 2016, 4:25:15 PM
    Author     : Ricardo Marcano
*/

.user-button{
    -fx-background-color:white;
    -fx-graphic:url("../images/user.png");
    -fx-border-color:black;
    -fx-border-radius:10px;
    -fx-border-width:1px;
   -fx-background-insets: 2px;
   -fx-background-radius: 10px;
}

.user-button:hover{
    -fx-background-radius: 10px;
    -fx-background-color:white;
    -fx-background-insets: 2px;
    -fx-graphic:url("../images/user.png");
    -fx-effect: dropshadow( three-pass-box , black , 12, 0.5 , 0 , 0);
    -fx-border-color:black;
    -fx-border-radius:10px;
    -fx-border-width:1px;
}

.users-button{
    -fx-background-color:white;
    -fx-graphic:url("../images/users.png");
    -fx-border-color:black;
    -fx-border-radius:10px;
    -fx-border-width:1px;
   -fx-background-insets: 2px;
   -fx-background-radius: 10px;
}

.users-button:hover{
    -fx-background-radius: 10px;
    -fx-background-color:white;
    -fx-background-insets: 2px;
    -fx-graphic:url("../images/users.png");
    -fx-effect: dropshadow( three-pass-box , black , 12, 0.5 , 0 , 0);
    -fx-border-color:black;
    -fx-border-radius:10px;
    -fx-border-width:1px;
}


.plan-button{
    -fx-background-color:white;
    -fx-graphic:url("../images/plan.png");
    -fx-border-color:black;
    -fx-border-radius:10px;
    -fx-border-width:1px;
   -fx-background-insets: 2px;
   -fx-background-radius: 10px;
}

.plan-button:hover{
    -fx-background-radius: 10px;
    -fx-background-color:white;
    -fx-background-insets: 2px;
    -fx-graphic:url("../images/plan.png");
    -fx-effect: dropshadow( three-pass-box , black , 12, 0.5 , 0 , 0);
    -fx-border-color:black;
    -fx-border-radius:10px;
    -fx-border-width:1px;
}

.back-button{
    -fx-padding:0px;
    -fx-background-color:transparent;
    -fx-background-radius:50px;
    -fx-graphic:url("../images/back.png");
}

.back-button:hover{
    -fx-padding:0px;
    -fx-background-color:lightgray;
    -fx-background-radius:50px;
    -fx-graphic:url("../images/back.png");
}
