/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-dic-2016, 11:35:05
    Author     : Sammy Guergachi <sguergachi at gmail.com>
*/

.background-all{
    -fx-background-image: url("../images/container.png");
    -fx-background-size: cover;
}

.back-button{
    -fx-padding:0px;
    -fx-background-color:transparent;
    -fx-background-radius:50px;
    -fx-graphic:url("../images/back.png");
}

.back-button:hover{
    -fx-padding:0px;
    -fx-background-color:lightgray;
    -fx-background-radius:50px;
    -fx-graphic:url("../images/back.png");
}

.search-button{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
    -fx-graphic:url("../images/search-button.png");
}

.search-button:hover{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
    -fx-graphic:url("../images/search-button.png");
        -fx-effect:dropshadow( three-pass-box , black , 8, 0.5 , 0 , 0);
}

.next-button{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
    -fx-graphic:url("../images/next.png");
}

.next-button:hover{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
    -fx-graphic:url("../images/next.png");
        -fx-effect:dropshadow( three-pass-box , black , 8, 0.5 , 0 , 0);
}

.table-column{
    -fx-alignment: center;
}

.text-field{
    -fx-border-color: gray;
    -fx-border-width: 1px;
    -fx-border-radius:0px;
    -fx-background-radius: 0px;
}
