/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 7, 2016, 12:10:47 AM
    Author     : Ricardo Marcano
*/

.background-all{
    -fx-background-image: url("../images/container.png");
    -fx-background-size: cover;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: gray;   
}

.open-table{
    -fx-background-color:white;
    -fx-graphic:url("../images/table.png");
    -fx-border-color:black;
    -fx-border-radius:10px;
    -fx-border-width:1px;
   -fx-background-insets: 2px;
   -fx-background-radius: 10px;
}

.open-table:hover{
    -fx-background-radius: 10px;
    -fx-background-color:white;
    -fx-background-insets: 2px;
    -fx-graphic:url("../images/table.png");
    -fx-effect: dropshadow( three-pass-box , black , 12, 0.5 , 0 , 0);
    -fx-border-color:black;
    -fx-border-radius:10px;
    -fx-border-width:1px;
}

.view-guess{
    -fx-background-color:white;
    -fx-graphic:url("../images/conference.png");
    -fx-border-color:black;
    -fx-border-radius:10px;
    -fx-border-width:1px;
   -fx-background-insets: 2px;
   -fx-background-radius: 10px;
}

.view-guess:hover{
    -fx-background-radius: 10px;
    -fx-background-color:white;
    -fx-background-insets: 2px;
    -fx-graphic:url("../images/conference.png");
    -fx-effect: dropshadow( three-pass-box , black , 12, 0.5 , 0 , 0);
    -fx-border-color:black;
    -fx-border-radius:10px;
    -fx-border-width:1px;
}

.assistance{
    -fx-background-color:white;
    -fx-graphic:url("../images/check_book.png");
    -fx-border-color:black;
    -fx-border-radius:10px;
    -fx-border-width:1px;
   -fx-background-insets: 2px;
   -fx-background-radius: 10px;
}

.assistance:hover{
    -fx-background-radius: 10px;
    -fx-background-color:white;
    -fx-background-insets: 2px;
    -fx-graphic:url("../images/check_book.png");
    -fx-effect: dropshadow( three-pass-box , black , 12, 0.5 , 0 , 0);
    -fx-border-color:black;
    -fx-border-radius:10px;
    -fx-border-width:1px;
}


