/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/10/2016, 03:59:44 PM
    Author     : Ricardo
*/

.back-button{
    -fx-padding:0px;
    -fx-background-color:transparent;
    -fx-background-radius:50px;
    -fx-graphic:url("../images/back.png");
}

.back-button:hover{
    -fx-padding:0px;
    -fx-background-color:lightgray;
    -fx-background-radius:50px;
    -fx-graphic:url("../images/back.png");
}

.text-field{
    -fx-border-color: gray;
    -fx-border-width: 1px;
    -fx-border-radius:0px;
    -fx-background-radius: 0px;
}

.export-excel-button{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
    -fx-graphic:url("../images/export-excel.png");
}

.export-excel-button:hover{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
    -fx-graphic:url("../images/export-excel.png");
    -fx-effect:dropshadow( three-pass-box , black , 8, 0.5 , 0 , 0);
}