/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 10, 2016, 12:31:25 PM
    Author     : Ricardo Marcano
*/

.data0.chart-bar {
    -fx-background-color:red;
    -fx-backgrouund-radius:3 3 0 0;
    -fx-effect:innershadow( three-pass-box , white , 5, 0.2 , 0 , 0);
}
.data1.chart-bar {
    -fx-background-color:blue;
    -fx-backgrouund-radius:3 3 0 0;
    -fx-effect:innershadow( three-pass-box , white , 5, 0.2 , 0 , 0);
}
.data2.chart-bar {
    -fx-background-color:black;
    -fx-backgrouund-radius:3 3 0 0;
    -fx-effect:innershadow( three-pass-box , white , 5, 0.2 , 0 , 0);
}
.data3.chart-bar {
    -fx-background-color:yellow;
    -fx-backgrouund-radius:3 3 0 0;
    -fx-effect:innershadow( three-pass-box , white , 5, 0.2 , 0 , 0);
}

.data4.chart-bar{
    -fx-background-color:cadetblue;
    -fx-backgrouund-radius:3 3 0 0;
    -fx-effect:innershadow( three-pass-box , white , 5, 0.2 , 0 , 0);
}

.data5.chart-bar{
    -fx-background-color:chocolate;
    -fx-backgrouund-radius:3 3 0 0;
    -fx-effect:innershadow( three-pass-box , white , 5, 0.2 , 0 , 0);
}

.data6.chart-bar{
    -fx-background-color:blue;
    -fx-backgrouund-radius:3 3 0 0;
    -fx-effect:innershadow( three-pass-box , white , 5, 0.2 , 0 , 0);
}

.data7.chart-bar{
    -fx-background-color:coral;
    -fx-backgrouund-radius:3 3 0 0;
    -fx-effect:innershadow( three-pass-box , white , 5, 0.2 , 0 , 0);
}

.data8.chart-bar{
    -fx-background-color:cornflowerblue;
    -fx-backgrouund-radius:3 3 0 0;
    -fx-effect:innershadow( three-pass-box , white , 5, 0.2 , 0 , 0);
}

.data9.chart-bar{
    -fx-background-color:yellowgreen;
    -fx-backgrouund-radius:3 3 0 0;
    -fx-effect:innershadow( three-pass-box , white , 5, 0.2 , 0 , 0);
}

.data10.chart-bar{
    -fx-background-color:beige;
    -fx-backgrouund-radius:3 3 0 0;
    -fx-effect:innershadow( three-pass-box , white , 5, 0.2 , 0 , 0);
}

.back-button{
    -fx-padding:0px;
    -fx-background-color:transparent;
    -fx-background-radius:50px;
    -fx-graphic:url("../images/back.png");
}

.back-button:hover{
    -fx-padding:0px;
    -fx-background-color:lightgray;
    -fx-background-radius:50px;
    -fx-graphic:url("../images/back.png");
}


.graph{
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-background-insets: 2px;
    -fx-border-width: 1px;
}

.table-column{
    -fx-alignment: center;
}