/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 6, 2016, 7:18:47 AM
    Author     : Ricardo
*/

.home-button{
    -fx-background-color: transparent;
    -fx-graphic: url("../images/home.png");
}

.top-pane{
    
    -fx-background-radius: 10 10 10 10;
    -fx-background-color: white;
}

.border-pane{
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-border-radius:10 10 0 0;
}

.content-pane{

    -fx-background-image:url("../images/container.png");
    -fx-background-size:cover;
    -fx-background-radius: 10px;
    
}

.grid-pane{
    -fx-background-image: url("../images/topbackground.png");
    -fx-background-position:center;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.close-button{
    -fx-padding: 0 0 0 0;
    -fx-background-color: transparent;
    -fx-graphic: url("../images/close.png");
}

.maximize-button{
    -fx-padding: 0 0 0 0;
    -fx-background-color: transparent;
    -fx-graphic: url("../images/maximize.png");
}

.minimize-button{
    -fx-padding: 0 0 0 0;
    -fx-background-color: transparent;
    -fx-graphic: url("../images/minimize.png");
}

.user-button{
    -fx-background-color:transparent;
    -fx-graphic:url("../images/user.png");
    -fx-border-color:gray;
    -fx-border-radius:20px;
    -fx-border-width:2px;
}

.user-button:hover{
    -fx-background-radius: 22px;
    -fx-background-color:#cccccc;
    -fx-graphic:url("../images/user.png");
    -fx-border-color:gray;
    -fx-border-radius:20px;
    -fx-border-width:2px;
}

.asistencia-button{
    
    -fx-background-color:transparent;
    -fx-graphic:url("../images/check_book.png");
    -fx-border-color:gray;
    -fx-border-radius:20px;
    -fx-border-width:2px;
}

.asistencia-button:hover{
    -fx-background-radius: 22px;
    -fx-background-color:#cccccc;
    -fx-graphic:url("../images/check_book.png");
    -fx-border-color:gray;
    -fx-border-radius:20px;
    -fx-border-width:2px;
}

.visitas-button{
    -fx-background-color:transparent;
    -fx-graphic:url("../images/conference.png");
    -fx-border-color:gray;
    -fx-border-radius:20px;
    -fx-border-width:2px;
}

.visitas-button:hover{
    -fx-background-radius: 22px;
    -fx-background-color:#cccccc;
    -fx-graphic:url("../images/conference.png");
    -fx-border-color:gray;
    -fx-border-radius:20px;
    -fx-border-width:2px;
}

.reporte-button{
    -fx-background-color:transparent;
    -fx-graphic:url("../images/report.png");
    -fx-border-color:gray;
    -fx-border-radius:20px;
    -fx-border-width:2px;
}

.reporte-button:hover{
    -fx-background-radius: 22px;
    -fx-background-color:#cccccc;
    -fx-graphic:url("../images/report.png");
    -fx-border-color:gray;
    -fx-border-radius:20px;
    -fx-border-width:2px;
}

.admin-button{
    -fx-background-color:transparent;
    -fx-graphic:url("../images/user_shield.png");
    -fx-border-color:gray;
    -fx-border-radius:20px;
    -fx-border-width:2px;
}

.admin-button:hover{
    -fx-background-radius: 22px;
    -fx-background-color:#cccccc;
    -fx-graphic:url("../images/user_shield.png");
    -fx-border-color:gray;
    -fx-border-radius:20px;
    -fx-border-width:2px;
}

.logout-button{
    -fx-background-color:transparent;
    -fx-graphic:url("../images/logout.png");
    -fx-border-color:gray;
    -fx-border-radius:20px;
    -fx-border-width:2px;
}

.logout-button:hover{
    -fx-background-radius: 22px;
    -fx-background-color:#cccccc;
    -fx-graphic:url("../images/logout.png");
    -fx-border-color:gray;
    -fx-border-radius:20px;
    -fx-border-width:2px;
}

