/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 6, 2016, 7:18:47 AM
    Author     : Ricardo
*/

.home-button{
    -fx-background-color: transparent;
    -fx-graphic: url("../images/home.png");
}

.top-pane{
    
    -fx-background-radius: 10 10 10 10;
    -fx-background-color: white;
}

.content-pane{
    -fx-background-image:url("../images/container.png");
    -fx-background-size:cover; 
    -fx-border-color: black;
    -fx-border-width: 1px;  
}

.grid-pane{
    -fx-background-image: url("../images/topbackground.png");
    
    -fx-background-size: cover;

    
}

.close-button{
    -fx-padding: 0 0 0 0;
    -fx-background-color:#990000;
    -fx-graphic: url("../images/close.png");
    -fx-background-radius: 0 0 5 0;
}

.close-button:hover{
    -fx-padding: 0 0 0 0;
    -fx-background-color:#ff3333;
    -fx-graphic: url("../images/close.png");
    -fx-background-radius: 0 0 5 0;
}

.maximize-button{
    -fx-padding: 0 0 0 0;
    -fx-background-color: transparent;
    -fx-graphic: url("../images/maximize.png");
    
}

.minimize-button{
    -fx-padding: 0 0 0 0;
    -fx-background-color: transparent;
    -fx-graphic: url("../images/minimize.png");
}

.maximize-button:hover{
    -fx-padding: 0 0 0 0;
    -fx-background-color: #86aeff;
    -fx-graphic: url("../images/maximize.png");
    -fx-background-radius: 0px;
}

.minimize-button:hover{
    -fx-padding: 0 0 0 0;
    -fx-background-color: #86aeff;
    -fx-graphic: url("../images/minimize.png");
    -fx-background-radius: 0 0 0 5;
}

.user-button{
    -fx-background-color:white;
    -fx-graphic:url("../images/user.png");
    -fx-border-color:black;
    -fx-border-radius:10px;
    -fx-border-width:1px;
   -fx-background-insets: 2px;
   -fx-background-radius: 10px;
}

.user-button:hover{
    -fx-background-radius: 10px;
    -fx-background-color:white;
    -fx-background-insets: 2px;
    -fx-graphic:url("../images/user.png");
    -fx-effect: dropshadow( three-pass-box , black , 12, 0.5 , 0 , 0);
    -fx-border-color:black;
    -fx-border-radius:10px;
    -fx-border-width:1px;
}

.asistencia-button{
    
    -fx-background-color:white;
    -fx-graphic:url("../images/check_book.png");
    -fx-border-color:black;
    -fx-border-radius:10px;
    -fx-border-width:1px;
       -fx-background-insets: 2px;
   -fx-background-radius: 10px;
}

.asistencia-button:hover{
    -fx-background-radius: 10px;
    -fx-background-color:white;
    -fx-background-insets: 2px;
    -fx-graphic:url("../images/check_book.png");
    -fx-border-color:black;
    -fx-effect: dropshadow( three-pass-box , black , 12, 0.5 , 0 , 0);
    -fx-border-radius:10px;
    -fx-border-width:1px;
}

.visitas-button{
    -fx-background-color:white;
    -fx-graphic:url("../images/conference.png");
    -fx-border-color:black;
    -fx-border-radius:10px;
    -fx-border-width:1px;
       -fx-background-insets: 2px;
   -fx-background-radius: 10px;
}

.visitas-button:hover{
    -fx-background-radius: 10px;
    -fx-background-color:white;
    -fx-background-insets: 2px;
    -fx-effect: dropshadow( three-pass-box , black , 12, 0.5 , 0 , 0);
    -fx-graphic:url("../images/conference.png");
    -fx-border-color:black;
    -fx-border-radius:10px;
    -fx-border-width:1px;
}

.reporte-button{
    -fx-background-color:white;
    -fx-graphic:url("../images/report.png");
    -fx-border-color:black;
    -fx-border-radius:10px;
    -fx-border-width:1px;
       -fx-background-insets: 2px;
   -fx-background-radius: 10px;
}

.reporte-button:hover{
    -fx-background-radius: 10px;
    -fx-background-color:white;
    -fx-background-insets: 2px;
    -fx-graphic:url("../images/report.png");
    -fx-border-color:black;
    -fx-border-radius:10px;
    -fx-effect: dropshadow( three-pass-box , black , 12, 0.5 , 0 , 0);
    -fx-border-width:1px;
}

.admin-button{
    

    -fx-background-color:white;

    -fx-graphic:url("../images/user_shield.png");
    -fx-border-color:black;
    -fx-border-radius:10px;
    -fx-border-width:1px;
       -fx-background-insets: 2px;
   -fx-background-radius: 10px;

    
}

.admin-button:hover{
    -fx-background-radius: 10px;
    -fx-background-color:white;
    -fx-background-insets: 2px;
    -fx-graphic:url("../images/user_shield.png");
    -fx-effect: dropshadow( three-pass-box , black , 12, 0.5 , 0 , 0);
    -fx-border-color:black;
    -fx-border-radius:10px;
    -fx-border-width:1px;
}

.logout-button{
    -fx-background-color:white;
    -fx-graphic:url("../images/logout.png");
    -fx-border-color:black;
    -fx-border-radius:10px;
    -fx-border-width:1px;
       -fx-background-insets: 2px;
   -fx-background-radius: 10px;
}

.logout-button:hover{
    -fx-background-radius: 10px;
    -fx-background-color:white;
    -fx-background-insets: 2px;
    -fx-effect: dropshadow( three-pass-box , black , 12, 0.5 , 0 , 0);
    -fx-graphic:url("../images/logout.png");
    -fx-border-color:black;
    -fx-border-radius:10px;
    -fx-border-width:1px;
}

.blacklist-button{
    -fx-background-color:white;
    -fx-graphic:url("../images/blacklist.png");
    -fx-border-color:black;
    -fx-border-radius:10px;
    -fx-border-width:1px;
       -fx-background-insets: 2px;
   -fx-background-radius: 10px;
}

.blacklist-button:hover{
    -fx-background-radius: 10px;
    -fx-background-color:white;
    -fx-background-insets: 2px;
    -fx-graphic:url("../images/blacklist.png");
    -fx-effect: dropshadow( three-pass-box , black , 12, 0.5 , 0 , 0);
    -fx-border-color:black;
    -fx-border-radius:10px;
    -fx-border-width:1px;    
}

.reserva-button{
    -fx-background-color:white;
    -fx-graphic:url("../images/reservas.png");
    -fx-border-color:black;
    -fx-border-radius:10px;
    -fx-border-width:1px;
       -fx-background-insets: 2px;
   -fx-background-radius: 10px;
}

.reserva-button:hover{
    -fx-background-radius: 10px;
    -fx-background-color:white;
    -fx-background-insets: 2px;
    -fx-graphic:url("../images/reservas.png");
    -fx-effect: dropshadow( three-pass-box , black , 12, 0.5 , 0 , 0);
    -fx-border-color:black;
    -fx-border-radius:10px;
    -fx-border-width:1px;    
}

.carnet-button{
    -fx-background-color:white;
    -fx-graphic:url("../images/carnet.png");
    -fx-border-color:black;
    -fx-border-radius:10px;
    -fx-border-width:1px;
       -fx-background-insets: 2px;
   -fx-background-radius: 10px;
}

.carnet-button:hover{
    -fx-background-radius: 10px;
    -fx-background-color:white;
    -fx-background-insets: 2px;
    -fx-graphic:url("../images/carnet.png");
    -fx-effect: dropshadow( three-pass-box , black , 12, 0.5 , 0 , 0);
    -fx-border-color:black;
    -fx-border-radius:10px;
    -fx-border-width:1px;    
}