/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06/10/2016, 11:29:42 AM
    Author     : Ricardo
*/

.background-all{
    -fx-background-image: url("../images/container.png");
    -fx-background-size: cover;
    -fx-border-color: black;   
    -fx-border-width: 1px;
}

.close-button{
    -fx-padding: 0 0 0 0;
    -fx-background-color: #990000;
    -fx-graphic: url("../images/close.png");
    -fx-background-radius: 0 0 5 5;
}

.close-button:hover{
    -fx-padding: 0 0 0 0;
    -fx-background-color: #ff3333;
    -fx-graphic: url("../images/close.png");
    -fx-background-radius: 0 0 5 5;
}

.minimize-button{
    -fx-padding: 0 0 0 0;
    -fx-background-color: transparent;
    -fx-graphic: url("../images/minimize.png");
}

.minimize-button:hover{
    -fx-padding: 0 0 0 0;
    -fx-background-color: #3333ff;
    -fx-graphic: url("../images/minimize.png");
    -fx-background-radius: 0 0 5 5;
}

.table-column{
    -fx-alignment: center;
}

.text-field{
    -fx-border-color: gray;
    -fx-border-width: 1px;
    -fx-border-radius:0px;
    -fx-background-radius: 0px;
}

.search-button{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
    -fx-graphic:url("../images/search-button.png");
}

.search-button:hover{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
    -fx-graphic:url("../images/search-button.png");
        -fx-effect:dropshadow( three-pass-box , black , 8, 0.5 , 0 , 0);
}

.select-button{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
    -fx-graphic:url("../images/select-button.png");
}

.select-button:hover{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
    -fx-effect:dropshadow( three-pass-box , black , 8, 0.5 , 0 , 0);
}

.open-table-button{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
    -fx-graphic:url("../images/open-table-button.png");
}

.open-table-button:hover{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
    -fx-effect:dropshadow( three-pass-box , black , 8, 0.5 , 0 , 0);
}

.ver-visitas-button{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
    -fx-graphic:url("../images/ver-visitas-button.png");
}

.ver-visitas-button:hover{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
    -fx-effect:dropshadow( three-pass-box , black , 8, 0.5 , 0 , 0);
}

.ver-invitados-button{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
    -fx-graphic:url("../images/ver-invitados.png");
}

.ver-invitados-button:hover{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
    -fx-effect:dropshadow( three-pass-box , black , 8, 0.5 , 0 , 0);
}

.reserva-button{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
    -fx-graphic:url("../images/reserva-button.png");
}

.reserva-button:hover{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
    -fx-effect:dropshadow( three-pass-box , black , 8, 0.5 , 0 , 0);
}

.pase-button{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
    -fx-graphic:url("../images/pase-button.png");
}

.pase-button:hover{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
    -fx-effect:dropshadow( three-pass-box , black , 8, 0.5 , 0 , 0);
}

.autorizar-button{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
    -fx-graphic:url("../images/autorizado-button.png");
}

.autorizar-button:hover{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
    -fx-effect:dropshadow( three-pass-box , black , 8, 0.5 , 0 , 0);
}

.ver-pase-button{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
    -fx-graphic:url("../images/ver-pase-button.png");
}

.ver-pase-button:hover{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
    -fx-effect:dropshadow( three-pass-box , black , 8, 0.5 , 0 , 0);
}

.ver-autorizar-button{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
    -fx-graphic:url("../images/ver-autorizado-button.png");
}

.ver-autorizar-button:hover{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
    -fx-effect:dropshadow( three-pass-box , black , 8, 0.5 , 0 , 0);
}

