/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 7, 2016, 9:54:43 PM
    Author     : Ricardo Marcano
*/
.back-button{
    -fx-padding:0px;
    -fx-background-color:transparent;
    -fx-background-radius:50px;
    -fx-graphic:url("../images/back.png");
}

.back-button:hover{
    -fx-padding:0px;
    -fx-background-color:lightgray;
    -fx-background-radius:50px;
    -fx-graphic:url("../images/back.png");
}

.search-button{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
    -fx-graphic:url("../images/search-button.png");
}

.search-button:hover{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
    -fx-graphic:url("../images/search-button.png");
    -fx-effect:dropshadow( three-pass-box , black , 8, 0.5 , 0 , 0);
}

.export-excel-button{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
    -fx-graphic:url("../images/export-excel.png");
}

.export-excel-button:hover{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
    -fx-graphic:url("../images/export-excel.png");
    -fx-effect:dropshadow( three-pass-box , black , 8, 0.5 , 0 , 0);
}

.export-pdf-button{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
    -fx-graphic:url("../images/export-pdf.png");

}

.export-pdf-button:hover{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
    -fx-graphic:url("../images/export-pdf.png");
    -fx-effect:dropshadow( three-pass-box , black , 8, 0.5 , 0 , 0);
}